<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>内敛表达式</title>
</head>
<body>
th:text取<div th:text="${data}"></div>

<h2>内敛文本： th:inline="text"</h2>
<div th:inline="text">
    数据：[[${data}]]
</div>

outside：数据：[[${data}]]


<h2>内敛脚本 th:inline="javascript"</h2>
<script type="text/javascript" th:inline="javascript">
    function showData() {
        alert([[${data}]]);
        alert("111");
    }

</script>

<button th:onclick="showData()">btn</button>
</body>
</html>